<style>
    booking-component form,
    input[type="range"] {
        display: block;
    }
</style>

<form>

    <h3>Form</h3>
    <label>
        <div>First Name</div>
        <input data-value ="firstName" value="">
    </label>

    <label>
        <div>Last Name</div>
        <input data-value = "lastName">
    </label>

    <label>
        <div>Age Name</div>
        <input type = "number" data-value="age">    
        <input type="range" min="10" max="50" data-value="age">
        
    </label>

    <div id="message" data-value="message"></div>
</form>