<style>
    div{
        display: flex;
        flex-direction: column;
        margin-bottom: 3px;
}
    input[type="number"]{
            width: 169px;
    }
</style>
<form>
    <label>

        <div>Name</div>
        <input data-value="firstName">

    </label>
    <label>

        <div>Surname</div>
        <input data-value="lastName">

    </label>
    <label>

        <div>Surname</div>
        <input type="number" id= "age" data-value = "age" value="20" min="10" max="50"><br>
        <input type="range" id= "range" data-value = "age" value="20" min="10" max="50">

    </label>
    <div class="message"></div>
</form>