<style>
    booking-component form,
    input[type="range"] {
        display: block;
    }
</style>

<form>

    <h3>Form</h3>
    <label>
        <div>First Name</div>
        <input data-id="firstName" data-name="John">
    </label>

    <label>
        <div>Last Name</div>
        <input data-id= "lastName" data-surname="Doe">
    </label>

    <label>
        <div>Age Name</div>
        <input type = "number" data-id="Age" data-value="age">
        <input type="range" min="10" max="50" data-value="age">

    </label>

    <div id="message"></div>
</form>